


/* App.css */

.owners-info-container {
  display: flex;
}

nav ul{
  list-style: none;
    padding: 0;
    display:inline-flex;
    background-color:black;
    color: white;
    width:100%;
  
}

div h1 {
  color:blueviolet;
}


nav li {
  margin: 0;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

nav a {
  color: white;
  text-decoration: none;
}
div h2{
  text-align:left;
  color:blueviolet;
}
div p{
  color:black;
  font-style: italic;
}


/* Add to your existing CSS */
.owner-container {
  display: flex;
  justify-content:center;
}

.owner {
  text-align: center;
}

.owner-info {
  margin-top: 10px;
  margin-right: 30px;
}

.owner img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  
}

.contact-person {
  margin-bottom: 20px;
}
.hello{
  display: inline-flex;
  padding: 5px;
  margin-left: 13%;
  
}
/* App.css */
.middle-class-service {
  /* Add any additional styling for the container */

  .bus-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Adjust the column size as needed */
    gap: 30px; /* Adjust the gap between items as needed */
  }

  .bus-item {
    /* Add any styling for individual bus items */
    text-align: center; /* Center-align content */
  }

  .bus-item img {
    width: 60%; /* Make images fill their container */
    height: 50%; /* Maintain aspect ratio */
    max-height: 100px; /* Adjust the maximum height as needed */
  }
}
/* App.css */
.VIP-Service {
  /* Add any additional styling for the container */

  .bus-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Adjust the column size as needed */
    gap: 30px; /* Adjust the gap between items as needed */
  }

  .bus-item {
    /* Add any styling for individual bus items */
    text-align: center; /* Center-align content */
  }

  .bus-item img {
    width: 60%; /* Make images fill their container */
    height: 50%; /* Maintain aspect ratio */
    max-height: 100px; /* Adjust the maximum height as needed */
  }
}
.contact-person p{
  color:blue
}
.Ai-version p{
color: blue;
}
.owner h3{
  color:red
}
